{% extends 'adminhome.html' %}

{% block 'body' %}
    <center>
        <h2>Manage Users</h2>
    </center>
    <br>
<center>
    <div class="user-actions">
        <button class="action-button add-button">
            <a href="{% url 'adduser' %}">Add User</a>
        </button>

        <button class="action-button view-button">
            <a href="{% url 'viewusers' %}">View All Users</a>
        </button>

        <button class="action-button delete-button">
            <a href="{% url 'deleteuser' %}">Delete User</a>
        </button>
    </div>
</center>
<style>
.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}


.add-button {
  background-color: #00C853;
}

.add-button:hover {
  background-color: #d84315;
}

.view-button {
  background-color: #00C853;
}

.view-button:hover {
  background-color: #d84315;
}

/* Delete User button */
.delete-button {
  background-color: #00C853;
}

.delete-button:hover {
  background-color: #d84315;
}

</style>
{% endblock %}
